.dashboard.scene
  #timers
    %h1 Timers
    .game
      Game: {{game.h}}:{{game.m}}:{{game.s}}
    .today
      Today: {{today.h}}:{{today.m}}:{{today.s}}
    .round
      Round: {{round.h}}:{{round.m}}:{{round.s}}
  #messages
    %h1 Messages
    %ul.messages
      %li
        %span.when {{when}}
        %span.who {{who}}
        %p.what {{what}}
  .status
    %h1 Service Status
    %table
      %thead
        %th service
        %th -15m
        %th -10m
        %th -5m
        %th now
      %tbody
        - %w{ beans potatoes tacos gravy cheeseburger coke gasoline vindsl }.each do |s|
          %tr
            %th{rowspan: 2}&= s
            - 4.times do
              - if rand() > 0.5
                %td.ok OK
              - else
                %td.down DOWN
          %tr
            - 4.times do
              - if rand() > 0.5
                %td.safe SAFE
              - else
                %td.owned OWNED
