- content_for :head do
  %meta{'http-equiv' => 'refresh', content: '122'}
.scoreboard.scene
  = render partial: 'shared/timers'
  .scoreboard-holder
    %table.names
      %thead
        %tr
          %th team
          %th flags
      %tbody
        - @teams.each do |t|
          %tr
            %th= t[:name]
            %td.flags
              .points.left= t[:score]
              .bar.left{style: "width: #{t[:score].to_i * 0.003}em"} &nbsp;
              %br.clear
            
