.scoreboard.scene
  = render partial: 'shared/timers'
  .scoreboard-holder
    %table.names
      %thead
        %tr
          %th team
      %tbody
        - @teams.each do |t|
          %tr
            %th= t[:name]
    %table.scores
      %thead
        %tr
          %th 
            %div flags
      %tbody
        - @teams.each do |t|
          %tr
            %td.flags
              .points.left= t[:score]
              .bar.left{style: "width: #{t[:score].to_i * 0.01}px"} &nbsp;
              %br.clear
