@font-face {
  font-family: "Rambla";
  font-weight: 400;
  font-style: normal;
  src: local("Rambla") url(/fonts/Rambla-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Rambla";
  font-weight: 400;
  font-style: italic;
  src: local("Rambla") url(/fonts/Rambla-Italic.otf);
}
@font-face {
  font-family: "Rambla";
  font-weight: 700;
  font-style: normal;
  src: local("Rambla") url(/fonts/Rambla-Bold.otf);
}
@font-face {
  font-family: "Rambla";
  font-weight: 700;
  font-style: italic;
  src: local("Rambla") url(/fonts/Rambla-BoldItalic.otf);
}
@font-face {
  font-family: "Michroma";
  font-weight: 400;
  font-style: normal;
  src: local("Michroma") url(/assets/Michroma-cd93ff5e3aa344514f35c2d1be9239268ae667f9835a3aa01de61a2096278b7c.ttf);
}
@font-face {
  font-family: "Ubuntu Mono";
  font-weight: normal;
  font-style: normal;
  src: local("Ubuntu Mono") url(/assets/UbuntuMono-Regular-b35dd9d2131d5d83a9b87fe9ad22c6288fa3d17688d43302c14da29812417d63.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/Ubuntu-R-52c1afa489ae7bfd893af6cdd9f1af258005703600449e70d338caabcff507e5.ttf) format("truetype");
}
@font-face {
  font-family: "Permanent Marker";
  src: url(/assets/PermanentMarker-9d31a5198c4ca4dfc9c5760022e7bb5b30eb21b8917963b2a3a2cda197f4f219.ttf) format("truetype");
}
/* line 64, /Volumes/ctf2017/scorebot/app/assets/stylesheets/color.css.sass */
a:link, a:visited {
  color: #d35322;
}

/* line 1, /Volumes/ctf2017/scorebot/app/assets/stylesheets/defaults.css.sass */
h1 {
  font-family: "Permanent Marker";
  font-weight: 100;
}

/* line 5, /Volumes/ctf2017/scorebot/app/assets/stylesheets/defaults.css.sass */
input[type='text'], textarea {
  color: #f9d192;
  background-color: black;
  padding: 0.5em;
  border: 1px solid #f9d192;
  font-family: "Ubuntu Mono";
  font-size: 18px;
}

/* line 13, /Volumes/ctf2017/scorebot/app/assets/stylesheets/defaults.css.sass */
input[type='submit'] {
  border: 1px solid #F5B34A;
  color: #f9d192;
  border-radius: 4px;
  padding: 0.5em;
  background-color: #241702;
  text-decoration: none;
  font-size: 16px;
  font-family: "Michroma", sans-serif;
  border-width: 2px;
}

/* line 2, /Volumes/ctf2017/scorebot/app/assets/stylesheets/banner.css.sass */
body .banner {
  width: 960px;
  background-color: #241702;
  border: 1px solid #f9d192;
  color: white;
  padding: 4px;
  margin: -1px auto 10px;
}
/* line 9, /Volumes/ctf2017/scorebot/app/assets/stylesheets/banner.css.sass */
body .banner h1 {
  margin: 0;
  margin-top: -3px;
  float: left;
  font-size: 1em;
  font-family: "Permanent Marker";
}
/* line 15, /Volumes/ctf2017/scorebot/app/assets/stylesheets/banner.css.sass */
body .banner p {
  margin: 0;
  margin-left: 1em;
  float: left;
}
/* line 19, /Volumes/ctf2017/scorebot/app/assets/stylesheets/banner.css.sass */
body .banner ul {
  list-style-type: none;
  margin: 0;
  margin-right: 1em;
  float: right;
}
/* line 24, /Volumes/ctf2017/scorebot/app/assets/stylesheets/banner.css.sass */
body .banner ul li {
  display: inline-block;
  color: #241702;
  background-color: #F5B34A;
  margin: -4px;
  padding: 4px;
  margin-left: 0.5em;
  font-weight: bold;
}
/* line 32, /Volumes/ctf2017/scorebot/app/assets/stylesheets/banner.css.sass */
body .banner ul li a:link, body .banner ul li a:visited {
  display: inline-block;
  color: #f9d192;
  margin: -4px;
  padding: 4px;
  background-color: #241702;
  text-decoration: none;
  font-weight: 100;
}

/* line 1, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scene.css.sass */
.content {
  width: 960px;
  margin: 0 auto;
  z-index: 1;
}

/* line 2, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
body.scoreboard .banner {
  display: none;
}
/* line 4, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
body.scoreboard .profiler-left {
  display: none;
}

/* line 9, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene .scoreboard-holder table {
  float: left;
  margin-top: 1em;
  background-color: rgba(36, 23, 2, 0.85);
}
/* line 14, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene .scoreboard-holder table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.85);
}
/* line 16, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene .scoreboard-holder table td, .scoreboard.scene .scoreboard-holder table th.team_name {
  text-align: right;
  padding-right: 0.5em;
}
/* line 19, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene .scoreboard-holder table th {
  text-align: left;
  color: #f9d192;
}
/* line 22, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene .scoreboard-holder table tbody th {
  text-align: right;
  width: 14em;
  font-size: 1em;
  padding-right: 0.5em;
}
/* line 27, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene .scoreboard-holder table td {
  text-align: right;
}
/* line 29, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene .scoreboard-holder table td.flags {
  width: 700px;
}
/* line 31, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene .scoreboard-holder table td.flags .points {
  z-index: 1;
  position: relative;
  background-color: #f9d192;
  width: 4em;
  color: black;
  padding: 2px;
  font-weight: bold;
}
/* line 39, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene .scoreboard-holder table td.flags .points.left {
  float: left;
}
/* line 41, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene .scoreboard-holder table td.flags .bar {
  z-index: 0;
  position: relative;
  background-color: #f9d192;
  padding: 2px;
  margin-left: -1px;
}
/* line 47, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene .scoreboard-holder table td.flags .bar.left {
  float: left;
}
/* line 50, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene #timers {
  position: fixed;
  top: 2em;
  right: 2em;
  z-index: 10;
  background-color: #241702;
  text-align: center;
  border: 5px solid #f9d192;
  border-radius: 5px;
  box-shadow: 0px 4px 16px 2px black;
}
/* line 60, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene #timers h1 {
  display: none;
}
/* line 62, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene #timers .desc {
  background-color: #f9d192;
  color: black;
}
/* line 65, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
.scoreboard.scene #timers .timer {
  padding: 2px;
  background-color: #241702;
  color: #f9d192;
  font-family: "Ubuntu Mono", monospace;
}

@media screen and (max-width: 1281px) {
  /* line 72, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
  .scoreboard.scene {
    font-size: 1.4em;
    width: 1280px;
  }
  /* line 75, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
  .scoreboard.scene .scoreboard-holder table {
    margin: 0;
    margin-left: -2em;
  }
}
@media screen and (min-width: 1400px) {
  /* line 80, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
  .scoreboard.scene {
    font-size: 1.45em;
    width: 1200px;
  }
}
@media screen and (max-width: 840px) {
  /* line 85, /Volumes/ctf2017/scorebot/app/assets/stylesheets/scoreboard.css.sass */
  .scoreboard.scene {
    width: 600px;
    font-size: 0.82em;
  }
}
/* line 1, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene {
  width: 960px;
}
/* line 12, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene .parcel {
  margin: 0;
  padding: 0;
}
/* line 15, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene .parcel > div {
  background-color: #241702;
  color: white;
  padding: 8px;
  margin: 8px;
  border: 1px solid #F5B34A;
}
/* line 8, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene .parcel > div h1 {
  margin-top: 0;
  font-size: 1.2em;
}
/* line 17, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene .parcel.left {
  width: 540px;
  float: left;
}
/* line 20, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene .parcel.right {
  width: 400px;
  float: right;
}
/* line 25, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene #redeem form input[type='text'] {
  width: 400px;
  border: 1px solid grey;
}
/* line 28, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene #redeem iframe {
  width: 400px;
  background-color: white;
  border: 1px solid grey;
}
/* line 34, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene #timers #actual_timers > div {
  width: 100px;
  display: inline-block;
  text-align: center;
}
/* line 40, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene .status table th, .dashboard.scene .status table td {
  text-align: center;
}
/* line 42, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene .status table th {
  background-color: #55080c;
}
/* line 44, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene .status table td.ok {
  background-color: lime;
  color: black;
}
/* line 47, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene .status table td.down {
  background-color: #fa8072;
}
/* line 49, /Volumes/ctf2017/scorebot/app/assets/stylesheets/dashboard.css.sass */
.dashboard.scene .status table tbody th {
  border-top: 1px black;
  background-color: #f9d192;
  color: black;
}

/* line 1, /Volumes/ctf2017/scorebot/app/assets/stylesheets/howto.css.sass */
.howto {
  width: 900px;
  background-color: #490d4c;
  color: white;
  border: 1px solid #f9d192;
  margin: 8px auto 80px;
  padding: 1em;
  font-size: 1.1em;
}
/* line 3, /Volumes/ctf2017/scorebot/app/assets/stylesheets/howto.css.sass */
.howto pre {
  font-family: "Ubuntu Mono", monospace;
  background-color: black;
  border: 1px solid #f9d192;
  padding: 1em;
  width: 40em;
  color: #f9d192;
}
/* line 5, /Volumes/ctf2017/scorebot/app/assets/stylesheets/howto.css.sass */
.howto pre code {
  font-family: "Ubuntu Mono", monospace;
  color: #f9d192;
}

/* line 2, /Volumes/ctf2017/scorebot/app/assets/stylesheets/tickets.css.sass */
body.tickets .content {
  width: 900px;
  background-color: #490d4c;
  color: white;
  border: 1px solid #f9d192;
  margin: 8px auto 80px;
  padding: 1em;
  font-size: 1.1em;
}

/* line 5, /Volumes/ctf2017/scorebot/app/assets/stylesheets/tickets.css.sass */
textarea#ticket_body {
  width: 24em;
  height: 4em;
}

/* line 9, /Volumes/ctf2017/scorebot/app/assets/stylesheets/tickets.css.sass */
div.ticket-body {
  font-family: "Ubuntu Mono", monospace;
  background-color: black;
  border: 1px solid #f9d192;
  padding: 1em;
  width: 40em;
  color: #f9d192;
}

/* line 2, /Volumes/ctf2017/scorebot/app/assets/stylesheets/nav.css.sass */
nav ul {
  list-style-type: none;
  padding: 0;
}
/* line 5, /Volumes/ctf2017/scorebot/app/assets/stylesheets/nav.css.sass */
nav ul li {
  display: inline-block;
}
/* line 7, /Volumes/ctf2017/scorebot/app/assets/stylesheets/nav.css.sass */
nav ul li a:link, nav ul li a:visited {
  border: 1px solid #F5B34A;
  color: #f9d192;
  border-radius: 4px;
  padding: 0.5em;
  background-color: #241702;
  text-decoration: none;
  font-size: 16px;
  font-family: "Michroma", sans-serif;
}

/* line 1, /Volumes/ctf2017/scorebot/app/assets/stylesheets/admin.css.sass */
body.admin {
  color: #f9d192;
}
/* line 3, /Volumes/ctf2017/scorebot/app/assets/stylesheets/admin.css.sass */
body.admin nav {
  width: 960px;
  margin: 0 auto;
  font-face: rambla;
}
/* line 7, /Volumes/ctf2017/scorebot/app/assets/stylesheets/admin.css.sass */
body.admin nav ul li {
  color: white;
  font-family: "Michroma", sans-serif;
}
/* line 10, /Volumes/ctf2017/scorebot/app/assets/stylesheets/admin.css.sass */
body.admin nav ul li a:link {
  font-family: Rambla;
}
/* line 12, /Volumes/ctf2017/scorebot/app/assets/stylesheets/admin.css.sass */
body.admin .content {
  background-color: #241702;
  border: 1px solid #f9d192;
  padding: 1em;
  box-sizing: content-box;
}

/* line 18, /Volumes/ctf2017/scorebot/app/assets/stylesheets/admin.css.sass */
[title] {
  border-bottom: 1px dotted #f9d192;
}

/* line 21, /Volumes/ctf2017/scorebot/app/assets/stylesheets/admin.css.sass */
input[type='submit'].tiny_search {
  padding: 2px;
  border-width: 1px;
  font-size: 11px;
}

/* line 27, /Volumes/ctf2017/scorebot/app/assets/stylesheets/admin.css.sass */
table.instances td {
  padding: 4px;
}

/* line 31, /Volumes/ctf2017/scorebot/app/assets/stylesheets/admin.css.sass */
table#availabilities td.false {
  background-color: #400;
}

/* line 36, /Volumes/ctf2017/scorebot/app/assets/stylesheets/admin.css.sass */
body.admin-services-availabilities-index table#availabilities th, body.admin-services-availabilities-index table#availabilities td {
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  overflow: hidden;
}

/* line 17, /Volumes/ctf2017/scorebot/app/assets/stylesheets/application.css.sass */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: -webkit-linear-gradient(#200621 0%, #490d4c 100%) fixed no-repeat;
  background: linear-gradient(to   , #490d4c 100%) fixed no-repeat;
  background-size: cover;
  background-color: #332105;
  font-family: "Ubuntu";
}

/* line 27, /Volumes/ctf2017/scorebot/app/assets/stylesheets/application.css.sass */
br.clear {
  clear: both;
}
