%h1 stats and gizmos
%table
  %tbody
    %tr
      %th rails root
      %td= Rails.root
    %tr
      %th revision
      %td= File.read Rails.root.join 'REVISION' rescue 'not there'
    %tr
      %th puma master pid
      %td= File.read Rails.root.join 'tmp/pids/puma.pid' rescue 'not there'
    %tr
      %th service pid
      %td= File.read Rails.root.join 'tmp/pids/service.pid' rescue 'not there'
