#timers{'data-timer-path' => timers_path, 'data-timer-interval' => 1000}
  %h1 Timers
  .game
    .desc Game
    .timer {{game.h}}:{{game.m}}:{{game.s}}
  .today
    .desc Today 
    .timer {{today.h}}:{{today.m}}:{{today.s}}
  .round
    .desc Round 
    .timer {{round.h}}:{{round.m}}:{{round.s}}
