%nav
  %ul
    %li for legitbs eyes only
    %li= link_to 'admin root', admin_root_path
    %li= link_to 'rounds', admin_rounds_path
    %li= link_to 'teams', admin_teams_path
    %li= link_to 'tokens', admin_tokens_path
