@import 'bourbon'
@import 'fonts'
@import 'mixins'
@import 'color'

@import 'defaults'

@import 'banner'
@import 'scene'
@import 'scoreboard'
@import 'dashboard'
@import 'howto'
@import 'replacements'
@import 'tickets'
@import 'nav'
@import 'admin'

body
  width: 100%
  height: 100%
  margin: 0
  @include background(linear-gradient($superdark_grape 0%, $dark_grape 100%) fixed no-repeat)
  background-size: cover
  background-color: $brown
  font-family: "Ubuntu"


br.clear
  clear: both
