@import 'bourbon'
@import 'fonts'
@import 'mixins'

@import 'defaults'

@import 'color'
@import 'banner'
@import 'scene'
@import 'scoreboard'
@import 'dashboard'
@import 'howto'
@import 'tickets'
@import 'nav'

body
  width: 100%
  height: 100%
  margin: 0
  @include background(linear-gradient($dark_purple 0%, $purple 100%) fixed no-repeat)
  background-size: cover
  background-color: $brown
  font-family: "Merriweather Sans"
    

br.clear
  clear: both
