body
  .banner
    width: 960px
    background-color: $purple
    color: white
    padding: 4px
    margin: 0px auto 10px
    h1
      margin: 0
      float: left
      font-size: 1em
    p
      margin: 0
      margin-left: 1em
      float: left
    ul
      list-style-type: none
      margin: 0
      margin-right: 1em
      float: right
      li
        display: inline-block
        color: $blue
        background-color: white
        margin: -4px
        padding: 4px
        margin-left: 0.5em
        a:link, a:visited
          display: inline-block
          color: white
          margin: -4px
          padding: 4px
          background-color: $purple
          text-decoration: none
          font-weight: bold
