// 2013
$salmon: #fa8072
$blue: hsl(200, 100%, 50%)
$pinku: #ff0080
$parchment: #ffe
$green: hsl(120, 100%, 50%)
$darkgreen: darken($green, 50%)

// 2014
$dark_purple: #1E0533
$purple: #4A2966
$light_purple: #DAB7FF
$distant_brown: rgb(67, 39, 32)
$brown: #332105
$dark_red: darken(#f00, 25%)

// 2015
$amber: #F5B34A
$bright_amber: lighten($amber, 30%)
$light_amber: lighten($amber, 15%)
$dark_amber: darken($amber, 55%)
$darker_amber: darken($amber, 75%)
$crimson: #EB242E
$dark_crimson: darken($crimson, 35%)
$darker_crimson: darken($crimson, 50%)

// useful
$deemphasized: desaturate($light_amber, 50%)
$emphasized: $bright_amber

$error: #400
$error_bright: #faa
$error_super: #fcc

$content_background: $dark_crimson
$content_text: white
$content_highlight: $light_amber

a
  &:link, &:visited
    color: $light_amber
