// 2013
$salmon: #fa8072
$blue: hsl(200, 100%, 50%)
$pinku: #ff0080
$parchment: #ffe
$green: hsl(120, 100%, 50%)
$darkgreen: darken($green, 50%)

// 2014
$dark_purple: #1E0533
$purple: #4A2966
$light_purple: #DAB7FF
$distant_brown: rgb(67, 39, 32)
$brown: #332105
$dark_red: darken(#f00, 25%)

// 2015
$amber: #F5B34A
$bright_amber: lighten($amber, 30%)
$light_amber: lighten($amber, 15%)
$dark_amber: darken($amber, 55%)
$darker_amber: darken($amber, 75%)
$crimson: #EB242E
$dark_crimson: darken($crimson, 35%)
$darker_crimson: darken($crimson, 50%)

// 2016
$teeth: #e7d0c6
$tan: #d19269
$honky: #f3c6b5
$shirt: #d4e1f4
$lefty: #493733
$bluegrey: #817d89
$light_bluegrey: lighten($bluegrey, 25%)
$tielight: #8b858b
$light_tielight: lighten($tielight, 25%)

// 2017
$pale_mustard: #f1d474
$mustard: #bd8619
$baby_blue: #5037f0
$grey_grape: #7957ba
$grape: #88198D
$dark_grape: darken($grape, 15%)
$superdark_grape: darken($grape, 25%)
$superpale_blue: lighten($baby_blue, 38%)
$paper_average: #cebea8

$background_color: $dark_grape

// useful
$deemphasized: desaturate($mustard, 45%)
$emphasized: saturate($mustard, 15%)

$error: $crimson
$error_bright: #faa
$error_super: #fcc

$content_background: $dark_grape
$content_text: white
$content_highlight: $light_amber

a
  &:link, &:visited
    color: darken($honky, 35%)
