@font-face
  font-family: Ubuntu
  font-weight: normal
  font-style: normal
  src: local('Ubuntu') asset-url('Ubuntu-Regular.ttf') format('truetype')
@font-face
  font-family: "Ubuntu Mono"
  font-weight: normal
  font-style: normal
  src: local('Ubuntu Mono') asset-url('UbuntuMono-Regular.ttf') format('truetype')