@font-face
  font-family: "Rambla"
  font-weight: 400
  font-style: normal
  src: local('Rambla') asset-url('Rambla-Regular.otf')
@font-face
  font-family: "Rambla"
  font-weight: 400
  font-style: italic
  src: local('Rambla') asset-url('Rambla-Italic.otf')
@font-face
  font-family: "Rambla"
  font-weight: 700
  font-style: normal
  src: local('Rambla') asset-url('Rambla-Bold.otf')
@font-face
  font-family: "Rambla"
  font-weight: 700
  font-style: italic
  src: local('Rambla') asset-url('Rambla-BoldItalic.otf')
@font-face
  font-family: "Michroma"
  font-weight: 400
  font-style: normal
  src: local('Michroma') asset-url('Michroma.ttf')
@font-face
  font-family: "Ubuntu Mono"
  font-weight: normal
  font-style: normal
  src: local('Ubuntu Mono') asset-url('UbuntuMono-Regular.ttf') format('truetype')
