.howto
  width: 900px
  background-color: $content_background
  color: $content_text
  border: 1px solid $content_highlight
  margin: 8px auto 80px
  padding: 8px
  font-size: 1.1em
  pre
    background-color: black
    border: 1px solid $content_highlight
    padding: 1em
    code
      font-family: 'Ubuntu Mono', monospace
      color: $content_highlight
