.howto
  width: 900px
  background-color: $content_background
  color: $content_text
  border: 1px solid $content_highlight
  margin: 8px auto 80px
  padding: 8px
  code
    font-family: 'Ubuntu Mono', monospace
