@mixin exo
  font-family: "Exo 2.0", Exo, sans-serif
@mixin mono
  font-family: 'Ubuntu Mono', monospace
@mixin prose-mode
  width: 900px
  background-color: $content_background
  color: $content_text
  border: 1px solid $content_highlight
  margin: 8px auto 80px
  padding: 1em
  font-size: 1.1em
@mixin button
  border: 1px solid $light_purple
  color: $light_purple
  border-radius: 4px
  padding: 0.5em
  background-color: $dark_purple
  text-decoration: none
  font-size: 16px
  @include exo
@mixin console
  @include mono
  background-color: black
  border: 1px solid $content_highlight
  padding: 1em
  width: 40em
  color: $content_highlight
