body.scoreboard
  .banner
    display: none
  .profiler-left
    display: none
.scoreboard.scene
  .scoreboard-holder

    table
      $alpha_adjustment: -.15
      float: left
      margin-top: 1em
      background-color: adjust-color($dark_amber, $alpha: $alpha_adjustment)
      tbody tr:nth-child(odd)
        background-color: adjust-color(black, $alpha: $alpha_adjustment)
      td, th.team_name
        text-align: right
        padding-right: .5em
      th
        text-align: left
        color: $light_amber
      tbody th
        text-align: right
        width: 14em
        font-size: 1em
        padding-right: .5em
      td
        text-align: right
        &.flags
          width: 700px
          .points
            z-index: 1
            position: relative
            background-color: $light_amber
            width: 4em
            color: black
            padding: 2px
            font-weight: bold
            &.left
              float: left
          .bar
            z-index: 0
            position: relative
            background-color: $light_amber
            padding: 2px
            margin-left: -1px
            &.left
              float: left
        img.team_logo
          margin-top: 4px
          width: 24px
          height: 24px

  #timers
    position: fixed
    top: 2em
    right: 2em
    z-index: 10
    background-color: $dark_amber
    text-align: center
    border: 5px solid $light_amber
    border-radius: 5px
    box-shadow: 0px 4px 16px 2px black
    h1
      display: none
    .desc
      background-color: $light_amber
      color: black
    .timer
      padding: 2px
      background-color: $dark_amber
      color: $light_amber
      @include mono

@media screen and (min-width: 1400px)
  .scoreboard.scene
    font-size: 1.45em
    width: 1200px
    img.team_logo
      width: 32px
      height: 32px

@media screen and (max-width: 840px)
  .scoreboard.scene
    width: 600px
    font-size: 0.82em
