body.scoreboard .banner
  display: none
.scoreboard.scene
  .scoreboard-holder
    @include perspective(1000px)
    @include perspective-origin(50% 50%)
    -webkit-animation-name: scoreboard-ooze
    @include animation-name(scoreboard-ooze)
    @include animation-duration(61s)
    @include animation-direction(alternate)
    @include animation-timing-function(ease) 
    @include animation-iteration-count(infinite)

    table
      float: left
      background-color: $parchment
      td, th
        text-align: right
      tbody tr:nth-child(odd)
        background-color: darken($parchment, 5%)
      &.names
        @include transform(rotateY(14deg))
        margin-right: 10px
        th
          padding: 3px
      &.scores
        @include transform(rotateY(-7deg) translateZ(20px))
        td
          text-align: right
          &.sla
            width: 4em
          &.queue
            width: 4em
          &.flags
            width: 10em
        th.total
          width: 15em
          text-align: left
        .points
          z-index: 1
          position: relative
          background-color: $pinku
          width: 4em
          color: white
          padding: 2px
          &.right
            float: right
          &.left
            float: left
        .bar
          z-index: 0
          position: relative
          background-color: $pinku
          padding: 2px
          &.left
            float: left
          &.right
            float: right

@media screen and (min-width: 1400px)
  .scoreboard.scene
    font-size: 1.45em
    width: 1200px
    table.names
      @include transform(rotateY(7deg) translateZ(-20px))
    table.scores
