body.scoreboard
  .banner
    display: none
.scoreboard.scene
  .scoreboard-holder

    table
      float: left
      background-color: $parchment
      td, th
        text-align: right
      tbody tr:nth-child(odd)
        background-color: darken($parchment, 5%)
      &.names
        @include transform(rotateY(14deg))
        margin-right: 10px
        th
          padding: 3px
      &.scores
        @include transform(rotateY(-7deg) translateZ(20px))
        th
          text-align: left
          div
            text-align: right
            width: 4em
        td
          text-align: right
          &.flags
            width: 700px
        .points
          z-index: 1
          position: relative
          background-color: $pinku
          width: 4em
          color: white
          padding: 2px
          font-weight: bold
          &.right
            float: right
          &.left
            float: left
        .bar
          z-index: 0
          position: relative
          background-color: $pinku
          padding: 2px
          &.left
            float: left
          &.right
            float: right

  #timers
    position: absolute
    top: 4px
    right: 4px
    z-index: 10
    background-color: $parchment
    text-align: center
    border: 5px solid $pinku
    border-radius: 5px
    box-shadow: 0px 4px 16px 2px black 
    h1
      display: none
    .desc
      background-color: $pinku
      color: white
    .timer
      padding: 2px

@media screen and (min-width: 1400px)
  .scoreboard.scene
    font-size: 1.45em
    width: 1200px
    table.names
      @include transform(rotateY(7deg) translateZ(-20px))
    table.scores

@media screen and (max-width: 840px)
  .scoreboard.scene
    margin-top: 4em
    width: 600px
    font-size: 0.82em
    #timers
      top: 340px
      right: -80px
    .scoreboard-holder
      table.names
        @include transform(rotateY(10deg) translateZ(-20px))
        width: 220px
      table.scores
        @include transform(rotateY(-10deg))
        width: 340px
