!!! 5
%html
  %head
    %title DEF CON CTF 2013
    = stylesheet_link_tag 'application'
  %body{class: body_class}
    = yield
    = javascript_include_tag 'application'
    .scene
      .floor
    .underlay